@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

$_palettes: (
  primary: (
    0: #000000,
    10: #001c39,
    20: #00315d,
    25: #003c70,
    30: #004883,
    35: #005397,
    40: #399beb,
    50: #2d79c9,
    60: #4d93e5,
    70: #6eaeff,
    80: #a4c9ff,
    90: #d4e3ff,
    95: #ebf1ff,
    98: #f8f9ff,
    99: #fdfcff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #1a1c1c,
    20: #2f3131,
    25: #3a3c3c,
    30: #454747,
    35: #515353,
    40: #5d5f5f,
    50: #767777,
    60: #909191,
    70: #aaabab,
    80: #c6c6c7,
    90: #e2e2e2,
    95: #f0f1f1,
    98: #f9f9f9,
    99: #fcfcfc,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #091d2e,
    20: #203243,
    25: #2b3d4f,
    30: #36485b,
    35: #425467,
    40: #4e6073,
    50: #67798d,
    60: #8093a7,
    70: #9aadc3,
    80: #b5c8df,
    90: #d1e4fb,
    95: #e8f2ff,
    98: #f7f9ff,
    99: #fcfcff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    4: #0a0b0c,
    6: #0e1111,
    10: #181c1d,
    12: #1c2021,
    17: #262b2c,
    20: #2c3132,
    22: #303536,
    24: #353a3b,
    25: #373c3d,
    30: #434849,
    35: #4e5354,
    40: #5a5f60,
    50: #737879,
    60: #8d9193,
    70: #a7acad,
    80: #c3c7c8,
    87: #d7dbdc,
    90: #dfe3e4,
    92: #e5e9ea,
    94: #eaeeef,
    95: #edf1f2,
    96: #f0f4f5,
    98: #f6fafb,
    99: #f9fdfe,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #161c25,
    20: #2b313a,
    25: #363c46,
    30: #414751,
    35: #4d535d,
    40: #595f69,
    50: #717783,
    60: #8b919d,
    70: #a6abb7,
    80: #c1c7d3,
    90: #dde2ef,
    95: #ebf1fe,
    98: #f8f9ff,
    99: #fdfcff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes,  neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: $_primary,
    tertiary: $_tertiary,
  ),
  typography: (
    use-system-variables: false,
  ),
));


:root {
  @include mat.all-component-themes($light-theme);
}
