.custom-card {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.termo-container {
    margin-bottom: 15px;
    border-bottom: 1px solid var(--primary);
    padding-bottom: 10px;
}

.termo-title {
    font-size: 1.5rem;
    color: var(--primary);
    margin: 0;
}

.termo-content {
    font-size: 1rem;
    color: #555555;
}
